node_modules/
.env
.env.local
/generated/prisma

# Subpackage con proprio git
tsnlas-worker/
reservation-worker/

# File sensibili
private.key
tsn-lastra-a-signa-cbbe0d528f19.json

# IDE
.vscode/
.vercel
.node-version
